:root
{
	--font-nightmare-pills: resource("Fonts/Font Assets/Nightmare Pills SDF");
	--font-tweety: resource("Fonts/Font Assets/Tweety SDF");
	--font-quantify: resource("Fonts/Font Assets/Quantify SDF");
	--font-somatic: resource("Fonts/Font Assets/Somatic-Rounded SDF");
	--font-genshin: resource("Fonts/Font Assets/Genshin SDF");
}